* {
    font-family: Calibri, sans-serif;
}

body {
    background: #28ABB9;
    
}
.container {
    max-width: 1000px;
    margin: auto;
    background-color: #F4F6FF;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 5px solid #000;
}
img {
    max-width: 400px;
    margin: auto;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
}
h1 {
    color: #FFF;
    text-align: center;
    font-size:20px
}
